@{
    ViewBag.Title = "Sobre";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<article>
    <p>
        Esse sistema foi criado pelos alunos: Marcel Flávio Farias Freire e Jonas Tavares. Para a matéria Inteligência Artificial.
    </p>
    <p>
        Nós utilizamos duas base de dados e fizemos um "merge" dos dados e montamos nossa própria base.
    </p>
    <h3>Informações da nossa base:</h3>
    <p>
        A base contém 1892 usuários, 17632 artistas, 11946 tags(gênero/classificação do artista), 92834 linhas do relacionamento usuário-artista, 186479 linhas da relação usuário-tag-artista e 757759 músicas.
    </p>
</article>