@{
    ViewBag.Title = "Contato";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<section class="contact">
    <header>
        <h3>Celular</h3>
    </header>
    <p>
        <span class="label">Marcel Flávio:</span>
        <span>(79)9869-4738</span>
    </p>
    <p>
        <span class="label">Jonas Tavares:</span>
        <span>(79)9135-1417</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Marcel Flávio:</span>
        <span><a href="mailto:marcel.flavio@hotmail.com">marcel.flavio@hotmail.com</a></span>
    </p>
    <p>
        <span class="label">Jonas Tavares:</span>
        <span><a href="mailto:jonjts@gmail.com">jonjts@gmail.com</a></span>
    </p>
</section>