@model IEnumerable<SistemasRecomendacao.Models.Song>
@using GridMvc.Html

@{
    ViewBag.Title = "PlayList";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
@Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(song => song.title).Titled("Músicas");
                            columns.Add(song => song.artist.name).Titled("Artistas");
                        })